@font-face {
    font-family: bpscriptregular;
    src: url(Fuentes/BPscript-webfont.woff);
    font-family: calligraffitiregular;
    src: url(Fuentes/Calligraffiti-webfont.woff);
}

body {
    background-image: url(img/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: calligraffitiregular;
}

.encabezado {
    /* border-style: ridge; */
    margin: 10px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#primero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color: rgba(221, 220, 220, 0.938); */
}

#tiempo,#movimientos{
    border-style: ridge;
    background-color: rgba(221, 220, 220, 0.938);
    border-radius: 8px;
}

#info {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 15px;
}

#puzzle {
    margin: 2% 28%;
}

.cualquierpieza{
    border-style: groove;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.ocultas img{ 
    user-select: none;
    -webkit-user-drag: none;  
    opacity: 0;
    
}

.arriba img{  
    opacity: 1;
    
}

.animacion{
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: initial;
}
.animacionfinal1{
    animation-name: example1;
    animation-duration: 2s;
}

  /* Standard syntax */
  @keyframes example {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }


@keyframes example1 {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    100%  {left:0px; top:200px; transform: scale(7);}
    
  }
  
  .button {
    border-radius: 8px;
    background-color: rgba(221, 220, 220, 0.938);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }